Django==1.5
Jinja2==2.6
MySQL-python==1.2.4
PIL==1.1.7
PyXML==0.8.4
SOAPpy==0.11.6
South==0.7.6
Twisted-Core==8.2.0
Twisted-Web==8.2.0
amqp==1.0.9
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.22
celery==3.0.16
distribute==0.6.35
ethtool==0.6
fdb==0.9.9
foolscap==0.4.2
fpconst==0.7.3
importlib==1.0.2
iniparse==0.3.1
ipython==0.10
iwlib==1.0
kombu==2.5.7
mercurial==1.4
ordereddict==1.1
psycopg2==2.0.14
pyOpenSSL==0.10
pycurl==7.19.0
pygpgme==0.1
pyparsing==1.5.6
pysqlite==2.3.5
python-dateutil==1.5
six==1.2.0
stevedore==0.8
uncompyle==1.1
unpyc==1.0
urlgrabber==3.9.1
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==3.6.1
yum-metadata-parser==1.1.2
zope.interface==3.5.2
